node_modules/
.project_id
.github_repo
.env
.env.*
**/Pulseway.Config.ps1
**/Cove.Config.ps1
**/Bitdefender.Config.ps1
**/Csp.Config.ps1
**/Csp.Config.*.ps1
**/Agent.Secrets.bin
**/Agent.Config.ps1
**/*.Config.ps1
!**/Pulseway.Config.example.ps1
!**/Cove.Config.example.ps1
!**/Bitdefender.Config.example.ps1
!**/Customer.Config.ps1
!**/CustomerOnboard.Config*.ps1
!**/Agent.Config.example.ps1
screenshots/
artifacts/
*.zip
